<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">


    <div>
        <input id="deal_hands" type="button" value="Deal Hands" class="btn btn-primary">
        <br>
        <br>
        <hr>
    </div>
    <div id="deal_div">
        <#list playerGames as playerGame>
            <p>${playerGame.player.username}</p>
            <#list playerGame.hand.cards as card>
                <img class="img_card" src="/assets/images/cards/${card.rank}_${card.suit}.png">
            </#list>
            <br>

            <h3>${playerGame.hand.handType} = ${playerGame.result}</h4></h3>
            <hr>
            <br>
        </#list>
    </div>


</@layout.myLayout>

<script src="assets/script/game.js"></script>