<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <img src="/assets/images/cards/${one}" style="width:200px;height:290px">
    <img src="/assets/images/cards/${two}" style="width:200px;height:290px">
    <img src="/assets/images/cards/${three}" style="width:200px;height:290px">
    <img src="/assets/images/cards/${four}" style="width:200px;height:290px">
    <img src="/assets/images/cards/${five}" style="width:200px;height:290px">

    <h1>${handType}</h1>

</@layout.myLayout>